.vertex {
  font-family: system-ui;
}

.vertex circle {
  fill: rgba(247, 247, 247);
  stroke: rgba(175, 175, 175);
  stroke-width: 0.83px;
}

.vertex text {
  text-anchor: middle;
  dominant-baseline: central;
}
