.sidebar {
  grid-area: sidebar;
  display: flex;
}

.resize {
  display: flex;
  background-color: rgb(222, 222, 222);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 1px;
}

.resize:hover {
  cursor: col-resize;
}

.resize:hover::after {
  content: "";
  display: block;
  height: 100%;
  width: 8px;
  background-color: rgba(222, 222, 222, 0.25);
  position: relative;
}

.sidebarContent {
  width: 100%;
  height: 100%;
}

.sidebarExpand {
  display: flex;
  flex-direction: column;
  align-items: cneter;
  justify-content: center;
  height: 100%;
  width: 24px;
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}

.sidebarExpandIcon {
  user-select: none;
}

.sidebarExpand:hover {
  background-color: #3b82f7;
}

.sidebarExpand:hover .sidebarExpandIcon {
  filter: invert();
}
