.controls {
  background-color: rgba(247, 247, 247);
  border-bottom: 1px solid rgba(222, 222, 222);
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls button {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.controls button:hover {
  background-color: rgba(222, 222, 222);
}

.controls button img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.controls button:disabled {
  cursor: auto;
}

.controls button:hover:disabled {
  background-color: transparent;
}

.controls button:disabled img {
  filter: opacity(0.4);
}
