@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains";
  src: url("./assets/fonts/JetBrainsMonoNL-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZedMono";
  src: url("./assets/fonts/zed-mono-extended.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZedMono";
  src: url("./assets/fonts/zed-mono-extendeditalic.ttf");
  font-weight: normal;
  font-style: italic;
}

html,
body,
#root {
  @apply h-full;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
